#hero {
    display: flex;
    align-items: center;
}

#hero--logotitle {
    display: flex;
    align-items: center;
}

#header-images {
    position: relative;
}

#logo-background-blur {
    width: 84px;
    height: 84px;
    /* mono-color the image with var(--vintage-white) using this calculator:
    https://codepen.io/sosuke/pen/Pjoqqp 
    blur at the end */
    filter: brightness(0) saturate(100%) invert(96%) sepia(5%) saturate(1872%) hue-rotate(313deg) brightness(108%) contrast(102%) blur(1px);
    margin-right: 35px;
}

#logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 2px;
    left: 2px;
}

#title {
    margin: 0;
    font-size: 50px;
    /* text-shadow: 1px 2px var(--teal); */
}

/* MOBILE */
@media only screen and (max-width: 600px) {

    #hero {
        margin-top: 6px;
        margin-left: 10px;
    }

    #hero--logotitle {
        flex-direction: column;
    }

    #logo-background-blur {
        width: 44px;
        height: 44px;
        margin-right: 20px;
    }

    #logo {
        width: 40px;
        height: 40px;
    }

    #title {
        font-size: 30px;
    }
}