#hero {
    height: 170px;
    background-color: var(--champagne-pink);
    display: flex;
    align-items: center;
}

#hero--logotitle {
    display: flex;
    align-items: center;
}

#logo {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

#title {
    margin: 0;
    font-size: 60px;
    text-shadow: 0 0 var(--isabelline);
}

.parent {
    display: flex;
}

.left, .right {
    flex: 1;
}

.left, .right {
    text-align: left;
    /*have language selector not directly at left edge */
    padding: 15px;
}