:root {
    --languageSelector--width: 210px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

#select-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 0;
    cursor: pointer;
}

/* attention */
#select-box .options-container {
    background: #2f3640;
    max-height: 0;
    /* width shall exactly match the one of the navbar item */
    width: calc(var(--languageSelector--width) + 2 * var(--navbar--item--padding--sides));
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    /* use absolute positioning to not disturb flexbox */
    position: absolute;
    /* offset: header-height plus little gap */
    top: var(--header--hight)
}

.selected {
    width: var(--languageSelector--width);
    position: relative;
}

.selected::after {
    content: "";
    background: url("../../images/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 12px;

    transition: all 0.4s;
}

#select-box .options-container.active+.selected::after {
    /* TODO debug */
    transform: rotateX(180deg);
    top: -6px;
}

.flag {
    height: 25px;
    /* common ratio for flags is 2:3 */
    width: calc(25px / 2 * 3);
    margin-right: 10px;
}

#select-box .options-container.active {
    /* max-height only needed in case of lots of content */
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

#select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

#select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

#select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
    /* center flag with text */
    display: flex;
}

#select-box .option:hover {
    background: #414b57;
}

#select-box .option .radio {
    display: none;
}