:root {
    --header--hight: 90px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: red;
    height: var(--header--hight);
    margin-bottom: 20px;
}