:root {
    --header-hight: 90px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: var(--dark-blue);
    color: var(--vintage-white);
    height: var(--header-hight);
    margin-bottom: 20px;
}