:root {
    --header-hight: 90px;
    --small-screen-size: 500px;
    --header-hight-small-screen: 280px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: var(--dark-blue);
    color: var(--vintage-white);
    height: var(--header-hight);
    margin-bottom: 20px;
}

.section h1 {
    margin-bottom: 10px;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    #header {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
}