:root {
    --navbar-item-padding-sides: 32px;
}

#navbar {
    /* box-shadow: 0 2px 3px var(--dark-vintage-white); */
    margin-left: 40px;
}

#navbar--list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
}

.navbar--item {
    text-decoration: none;
    text-align: center;
    padding: 8px var(--navbar-item-padding-sides);
    cursor: pointer;
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar--item--text {
    color: var(--vintage-white);
    text-decoration: inherit;
}


.navbar--item:hover, .navbar--item:hover > * {
    background-color: var(--teal);
}

.navbar--item.active {
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    #navbar {
        margin-left: 60px;
    }

    #navbar--list {
        flex-direction: column;
    }

    .navbar--item {
        font-size: 18px;
    }
}
  