#navbar {
    box-shadow: 0 2px 3px var(--beaver);
}

#navbar--list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--isabelline);
    display: flex;
    justify-content: center;
}

.navbar--item {
    margin: 5px 5px;
    color: var(--isabelline);
    background-color: var(--dark-liver-horses);
    text-align: center;
    padding: 8px 32px;
    cursor: pointer;
}

.navbar--item:hover {
    background-color: var(--deep-taupe)
}

.navbar--item--active {
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 4px;
}