:root {
  /* url to old color palette: https://coolors.co/36241c-422c22-4d3328-644234-815f51-aa8b7e-d3b6ab-e6d5ce-f0e5e1-f9f5f3 */

  /* url to color palette, names are changed: https://coolors.co/a4e473-c8f0a8-e9f9dc-002529-004752-00a181-adffef-d6fff7-f2ef12-faf89e */
  --green: #a4e473ff;
  --light-gren: #c8f0a8ff;
  --very-light-green: #e9f9dcff;
  --ultra-light-green: #F4FCEE;
  --dark-blue: #00373D;
  --blue: #004752ff;
  --teal: #00a181ff;
  --light-teal: #adffefff;
  --very-light-teal: #d6fff7ff;
  --yellow: #f2ef12ff;
  --light-yellow: #faf89eff;
  --vintage-white: #fffcec;
  --dark-vintage-white: #B9B08B;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background-color: var(--ultra-light-green);
  color: var(--dark-blue);
  font-family: 'Inter', sans-serif;
}